body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
button {
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;}
    
.espacio {
    
        margin-left: 60px;
      }

.elemento {
    text-align: center;
    background-color: green;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    position: absolute;
    top: 30%;
    left: 51%;
    transform: translate(-50%, -50%);

}